apiVersion: v1
data:
  tls.crt: 
  tls.key: 
kind: Secret
metadata:
  generateName: sealed-secrets-key
  labels:
    sealedsecrets.bitnami.com/sealed-secrets-key: active
  name: sealed-secrets-masterkey
  namespace: flux-system
type: kubernetes.io/tls
